.login-container, .register-container {
    width: 40%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.login-container h1, .register-container h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.login-container p, .register-container p {
    text-align: center;
    font-size: 16px;
}

.login-container a, .register-container a {
   color: #28a745;
   text-decoration: none;
}

.login-container a:hover, .register-container a:hover {
    text-decoration: underline;
}