body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px; /* Reduz o padding para inputs e textarea */
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0; /* Remove qualquer margem extra */
}

.form-group textarea {
    width: 100%;
    margin-top: 5px; /* Ajusta o espaçamento específico para textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}