html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da janela */
}

#root {
    display: flex;
    flex-direction: column;
    flex:1;
}

main {
    flex: 1; /* Faz o main ocupar o espaço disponível */
}

footer {
    background-color: #2a993c;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Empurra o footer para o final da página */
}

footer p {
    margin: 5px 0;
}