body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row, .bottom-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.location {
    text-align: left;
}

.location span {
    font-size: 14px;
    color: #333;
}

.user-options {
    text-align: right;
    font-size: 14px;
}

.user-options a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

.user-options a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.search-bar {
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 500px;
    width: 100%;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
}

.search-bar button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100px; /* Tamanho fixo para o botão */
}

.cart {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    font-size: 16px;
}

.icon {
    height: 30px;
    width: 30px;
}

.cart-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-label {
    font-size: 14px;
    color: #666;
}

.cart-total {
    color: black;
    border-radius: 4px;
    font-size: 14px;
}

.nav-bar {
    background-color: #2a993c;
    padding: 20px 0;
}

.nav-bar nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.nav-bar nav ul li {
    margin: 0 15px;
}

.nav-bar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar nav ul li a:hover {
    text-decoration: underline;
}